<?xml version="1.0"?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="umesh@cetpainfotech.com">
        <network host="smtp.gmail.com" port="587" userName="umesh@cetpainfotech.com" password="cetpa@888"/>
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="ConnectionString" value="Data Source=VIKAS\SQLEXPRESS;initial catalog=fritzyslive_new;integrated security=True;Connect Timeout=200;"/>
     <add key="HomePath" value="http://localhost:5454/"/>
    <!--<add key="FCKeditor:UserFilesPath" value="/Fritzy/"/>-->
    <add key="FromEmail" value="umesh@cetpainfotech.com"/>
    <add key="ToEmail" value="pankaj.sharma@cetpainfotech.com"/>
    <add key="EmailPass" value="cetpa@333"/>
    <add key="SmtpServer" value="smtp.gmail.com"/>
    <!--<add key="SmtpServer" value="relay-hosting.secureserver.net"/>-->
    <add key="BackupPath" value="~/Download/"/>
    <!--<add key="DLPathNew" value="D:\Office Work 2010\Fritzys Total Backup 24122010\advancedweb2solutions.com\Download\" />
    <add key="DLPathNew" value="C:\Inetpub\wwwroot\advancedweb2solutions.com\Download\" />-->
    <!--<add key="DLPathNew" value="http://edcode.cetpaglobal.com/Download/" />-->
    <add key="DLPathNew" value="~/Download/"/>
    <add key="DBRestorepath" value="D:\OfficeWork\Updated Projects 2011\advancedweb2solutions.com\DB_Restore\"/>
    <!-- FCK Editor-->
    <!--<add key="FCKeditor:BasePath" value="~/FCKeditor/"/>-->
    <!--<add key="FCKeditor:UserFilesPath" value="~/userfiles/"/>-->
    <add key="ExcelFile" value="~/Admin/ExcelFile/"/>
    <!--<add key="Excelpath" value="D:\OfficeWork\Updated Projects 2011\advancedweb2solutions.com\Admin\ExcelFile\"/>-->
    <add key="Excelpath" value="~/Admin/ExcelFile/"/>
    <add key="DBName" value="fritzys"/>
    <!--<add key="DataFileName" value="dharnefritzy"/>-->
    <!--<add key="DataFilePath" value="C:\ProgramFiles\Parallels\Plesk\Databases\MSSQL\MSSQL.1\MSSQL\Data\fritzy.mdf"/>-->
    <!--<add key="LogFileName" value="dharnefritzy_log"/>-->
    <!--<add key="LogFilePath" value="C:\Program Files\Parallels\Plesk\Databases\MSSQL\MSSQL.1\MSSQL\DATA\fritzy_log.ldf"/>-->
    <!--<add key="cybs.connectionLimit" value="12"/>-->
    <!--<add key="cybs.keysDirectory" value="D:\Development_work\EdCode\Code\advancedweb2solutions.com\Keys"/>-->
    <!--<add key="cybs.keysDirectory" value="ftp://edcode@edcode.cetpaglobal.com/Keys/"/>-->
    <add key="cybs.merchantID" value="r7990697"/>
    <!--<add key="cybs.sendToProduction" value="false"/>-->
    <add key="cybs.keyFilename" value="r7990697.p12"/>
    <add key="cybs.serverURL" value="https://ics2wstesta.ic3.com/commerce/1.x/transactionProcessor/"/>
    <!--<add key="cybs.enableLog" value="true"/>-->
    <!--<add key="cybs.logDirectory" value="D:\Development_work\EdCode\Code\advancedweb2solutions.com\Logs"/>-->
    <!--<add key="cybs.logFilename" value="cybsstore.log"/>-->
    <!--<add key="cybs.logMaximumSize" value="10"/>-->
    <!--<add key="cybs.timeout" value="130"/>-->
    <!--<add key="icsClient.HTTPProxyPassword" value="(None)"/>
    <add key="icsClient.HTTPProxyURL" value="(None)"/>
    <add key="icsClient.HTTPProxyUsername" value="(None)"/>
    <add key="icsClient.KeysDir" value="C:\CyberSource\keys"/>
    <add key="icsClient.LogFile" value="\cybsstore.log"/>
    <add key="icsClient.LogLevel" value="LOG_NONE"/>
    <add key="icsClient.LogMaxSize" value="1"/>
    <add key="icsClient.MerchantId" value="v7990697"/>
    <add key="icsClient.RetryEnabled" value="no"/>
    <add key="icsClient.RetryStart" value="30"/>
    <add key="icsClient.ServerHost" value="ics2test.ic3.com"/>
    <add key="icsClient.ServerHost" value="setup.ic3.com"/>
    <add key="icsClient.ServerId" value="CyberSource_SJC_US"/>
    <add key="icsClient.ServerPort" value="80"/>
    <add key="icsClient.ThrowLogException" value="no"/>
    <add key="icsClient.Timeout" value="110"/>-->
    <!--<add key="Excelpath" value="C:\Inetpub\wwwroot\advancedweb2solutions.com\Admin\ExcelFile\"/>-->
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="120"/>
    <!--<identity impersonate="true" userName="fritzys" password="DogGoneIt1" />-->
    <customErrors mode="Off"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation batch="false" debug="true">
      <assemblies>
        <!--<add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
        <!--<add assembly="Microsoft.SqlServer.Smo, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
        <!--<add assembly="Microsoft.SqlServer.SmoEnum, Version=9.0.242.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
        <!--<add assembly="Microsoft.SqlServer.SmoExtended, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
        <!--<add assembly="Microsoft.SqlServer.Management.Sdk.Sfc, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>-->
        <!--<add assembly="Microsoft.SqlServer.SqlEnum, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
        <!--<add assembly="Microsoft.SqlServer.SqlWmiManagement, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.SqlServer.ConnectionInfo, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
        <!--<add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="Microsoft.SqlServer.Smo, Version=9.0.242.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.SqlServer.SqlEnum, Version=9.0.242.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.SqlServer.Rmo, Version=9.0.242.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.SqlServer.NotificationServices.Rules, Version=9.0.242.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.SqlServer.SmoExtended, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="System.Web.Mobile, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages enableViewStateMac="false" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <httpRuntime executionTimeout="3600" maxRequestLength="1048576" requestLengthDiskThreshold="80" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="90" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.aspx"/>
        <add value="Index.aspx"/>
        <add value="Index.html"/>
        <add value="Index.htm"/>
        <add value="Index.cfm"/>
        <add value="Index.shtml"/>
        <add value="Index.shtm"/>
        <add value="Index.stm"/>
        <add value="Index.php"/>
        <add value="Index.php3"/>
        <add value="Index.asp"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>