<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="umesh@cetpainfotech.com">
        <network host="smtp.gmail.com" port="587" userName="umesh@cetpainfotech.com" password="cetpa@888"/>
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings/>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
  <appSettings>
    <add key="ConnectionString" value="Data Source=REDSTONE\SQLEXPRESS;initial catalog=fritzyslive_new;User Id=sa;password=Sql@123;Connect Timeout=200;"/>
    <add key="addCookieForDay" value="30"/>
    <add key="HomePath" value="http://localhost:38276/"/>
    <add key="FromEmail" value="umesh@cetpainfotech.com"/>
    <add key="ToEmail" value="pankaj.sharma@cetpainfotech.com"/>
    <add key="EmailPass" value="cetpa@333"/>
    <add key="SmtpServer" value="smtp.gmail.com"/>
    <add key="BackupPath" value="~/Download/"/>
    <add key="DLPathNew" value="~/Download/"/>
    <!-- FCK Editor-->
    <add key="ExcelFile" value="~/Admin/ExcelFile/"/>
    <add key="Excelpath" value="~/Admin/ExcelFile/"/>
    <add key="DBName" value="fritzys"/>
    <add key="cybs.merchantID" value="r7990697"/>
    <!--<add key="cybs.sendToProduction" value="false"/>-->
    <add key="cybs.keyFilename" value="r7990697.p12"/>
    <add key="cybs.serverURL" value="https://ics2wstesta.ic3.com/commerce/1.x/transactionProcessor/"/>
  </appSettings>

  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="60"/>
    <customErrors mode="Off">
      <!--<error statusCode="404" redirect="~/Error.aspx" /> redirectMode="ResponseRedirect"
         <error statusCode="401" redirect="~/Error.aspx" />
         <error statusCode="403" redirect="~/Error.aspx" />
         <error statusCode="404" redirect="~/Error.aspx" />
         <error statusCode="500" redirect="~/Error.aspx" />-->
    </customErrors>
    <compilation batch="false" debug="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.SqlServer.SmoExtended, Version=10.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="System.Web.Mobile, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Windows">
      <forms timeout="120"/>
    </authentication>
    <pages enableViewStateMac="false" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <httpRuntime executionTimeout="3600" maxRequestLength="1073741824" requestLengthDiskThreshold="80" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="90" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.aspx"/>
        <add value="Index.aspx"/>
        <add value="Index.html"/>
        <add value="Index.htm"/>
        <add value="Index.cfm"/>
        <add value="Index.shtml"/>
        <add value="Index.shtm"/>
        <add value="Index.stm"/>
        <add value="Index.php"/>
        <add value="Index.php3"/>
        <add value="Index.asp"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Management.Sdk.Sfc" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Management.SmoMetadataProvider" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NuGet.Core" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.12.0.817" newVersion="2.12.0.817"/>
			</dependentAssembly>
    
    
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.SqlClrProvider" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.SqlEnum" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Diagnostics.STrace" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ServiceBrokerEnum" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.SqlParser" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Dmf" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly> 
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Smo" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly> 
    </assemblyBinding>
  </runtime>
</configuration>
